body {
  font-family: Arial, sans-serif;
  background-color: #49225b;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #e7dbef;
}

h2 {
  color: #a56abd;
}

form {
  background: #6e3482;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #49225b;
  border-radius: 4px;
}

button {
  background-color: #6e3482;
  color: WHITE;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #49225b;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #6e3482;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #6e3482;
}

tr:hover {
  background-color: #a56abd;
}

a {
  color: #d9534f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
